.card-css img{
 width: 200px;
 
}

.card-css{
    display: flex;
    margin-top: 3%;
    width: 500px;
    box-shadow:  10px 10px 5px 10px rgb(240, 236, 236);
    border-radius:10px;
}
.dsc{
   
    margin-left: 40px;
}